<div class="container">
    <div>
        <h1><b>Password Generator</b></h1>
    </div>
    <input class="pass-field" placeholder="..." value={{output}} readonly>
    <br>
    <div>
        <mat-slider [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks">        
            <input [value]="default_value" matSliderThumb #slider>
        </mat-slider>
        <label class="slider-val-label">Length: {{slider.value}}</label>
    </div>
    <button class="generate-button" mat-raised-button color="primary" (click)="generatePassword(slider.value)">Generate</button>
</div>