.container {
    text-align: center;
    background-color: rgb(205, 211, 100);
    height: 300px;
    margin: auto;
}

.pass-field {
    border: 2px solid purple;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-size: larger;
    margin: 30px;
}

.generate-button {
    border-radius: 20px;
}

.slider-val-label {
    margin-left: 6%;
    font-size: 18px;
}
